body {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
}

.sidebar {
    width: 250px;
    background: #2c3e50;
    color: #fff;
    padding: 20px;
}

#menu .item {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #ccc;
    padding-right: 20px;
    padding-left: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid #ccc;
    height: 30px;
}

header #logo img{
    height: 30px;
}

header #user {
    display: flex;
    gap: 10px;
    align-items: center;
}

header #user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

table {
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}